<!-- In order to use the bootstrap we have to extend it which is in the base
then wrap this page in a variable in this case content which will be made
available on the base.html -->
{% extends 'base.html' %}


{% block content %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-10 font-italic" align="center">{{ title }}</h1>
        </div>
  </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Device</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Online</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}            
                <tr>
                    <td>{{ log.sample_date|date:"dMy"|upper }}</td>
                    <td>{{ log.sample_date|date:"Hi" }}</td>
                    <td>{{ log.device_name }}</td>
                    <td>{{ log.temperature }}&#730</td>
                    <td>{{ log.humidity }}%</td>
                    <td>{{ log.device_online }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}