<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Device</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Online</th>
        </tr>
    </thead>
    <tbody>
        {% for temp_device in temp_devices %}            
        <tr>
            <td>{{ temp_device.sample_date }}</td>
            <td>{{ temp_device.device_name }}</td>
            <td>{{ temp_device.temperature }}</td>
            <td>{{ temp_device.humidity }}</td>
            <td>{{ temp_device.device_online }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>